<!DOCTYPE html>
<html>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
            $('a#middag').bind('click', function() {
                $.getJSON('/middag',
                    function(data) {
                });
            return false;
        });
        });
    </script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <title>Middag alarm</title>
        <link rel = "shortcut icon" href = "{{ url_for('static', filename = 'icon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class='container'>
            <form>
                <a href=# id=middag><button class='btn btn-default' id = "middag-button">Mat</button></a>
            </form>
        </div>
    </body>
</html>